<p>
  <strong>Department:</strong>
  <%= @postalcode.department %>
</p>
<p>
  <strong>municipality:</strong>
  <%= @postalcode.municipality %>
</p>
<p>
  <strong>Postalcode:</strong>
  <%= @postalcode.postalcode %>
</p>
<p>
  <strong>neighbourhood:</strong>
  <%= @postalcode.neighbourhood %>
</p>
 